@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans&family=Yeseva+One&display=swap');

body {
    margin: 0;
    font-style: Nunito Sans, Arial;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.button-first-style {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
}

.header {
    background-color: #131313;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.logo {
    color: #E3B873;
    text-transform: uppercase;
}

.header-navigaion {
    list-style: none;
    display: flex;
}

.header-navigaion__item {
    margin-right: 40px;
}

.header-navigaion__item a {
    text-decoration: none;
    color: white;
}

.header-navigaion__item a:hover {
    color: #E3B873;
}

.phone-number {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;

    color: #E3B873;
}

.hero {
    background-image: url("../images/image_1.jpg");
    background-size: cover;
    height: 707px;
    padding: 194px;
    position: relative;
}

.hero-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.hero-container {
    width: 550px;
    height: 305px;
    position: relative;
    left: -310px;
    z-index: 1;
}

.title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.allocate-text {
    color: #E3B873;
}

.description {
    margin: 19px 0px 42px;
    font-family: 'Nunito Sans';
    width: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.two-button-field {
    display: flex;
}

.button-second-style {
    margin-left: 20px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background: none;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;

}

.comleted-projects {
    display: flex;
    background-color: #131313;
    padding-bottom: 415px;
}

.full-projects {
    display: flex;
}

.first-part-project {
    width: 442px;
    margin-right: 50px;
}

.title-projects-description {
    margin-top: 56px;
    width: 200px;
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.projects-description {
    margin: 34px 0px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.image-low-display {
    display: none;
}

.propertis-table {
    border: none;
}

.subtitle {
    width: 200px;
    margin: 9px 0px;
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.value {
    padding: 9px 0 34px;
    width: 100px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.image-slider {
    display: inline-flex;
    width: 205px;
    justify-content: space-between;
}

.image-project {
    background-image: url("../images/example_room.jpg");
    position: relative;
    width: 679px;
    height: 481px;
    overflow: hidden;
}

.projects-navigaion {
    padding-left: 0;
    list-style: none;
    display: flex;
}

.project-navigaion__item {
    margin-right: 60px;
}

.project-navigaion__item a {
    text-decoration: none;
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.project-navigaion__item a:hover {
    color: #E3B873;
    padding-bottom: 7px;
    border-bottom: 1px solid #E3B873;
}

.online-control {
    display: flex;
    margin-top: -325px;
    align-items: center;
    padding-bottom: 58px;
}

.title-online-control {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.icons-camera-align {
    display: flex;
    margin: 13px 0 31px;
    justify-content: center;
}

.icon-camera {
    display: inline-flex;
    width: 115px;
    justify-content: space-between;
}

.frame-video {
    background-image: url("../images/content_video.jpg");
    background-size: cover;
    width: 817px;
    height: 434px;
    position: relative;
}

.long-line {
    margin: auto;
    padding: 62px 0 34px;
}

.camera-text {
    margin: auto;
    width: 681px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.input-form {
    display: flex;
    flex-direction: row;
    margin-top: 91px;
}

.subtitle-form {
    font-family: 'Nunito Sans';
    text-transform: capitalize;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.input-style {
    border: 0;
    margin-right: 49px;
    width: 231px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    outline: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.checkbox-style {
    border-color: #E3B873;
}

.block-agree-low {
    display: none;
    align-items: center;
}

.block-agree-normal {
    display: inline-flex;
    align-items: center;
    margin: 33px 0 90px;
}

.text-agree {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
    ;
}

.repair-frame {
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.title-repair {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.repair-cards {
    display: flex;
    flex-direction: row;
}

.repair-card-exapmle {
    margin: 0 15px 0 0;
}

.repair-image-propertis {
    position: relative;
    width: 353px;
    height: 379px;
    z-index: -1;
}

.repair-text-card {
    display: block;
    margin-top: -125px;
    width: 330px;
    height: 286px;
    justify-items: center;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.repair-subtitle-card {
    margin: 0 0 0 27px;
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}

.repair-list-style {
    margin: 0;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.repair-price {
    padding: 18px 0 18px;
    width: 228px;
    text-align: center;
    vertical-align: middle;
    background-color: #E3B873;
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.service-row {
    display: flex;
    flex-direction: row;
}

.service-background-image {
    background-image: url("../images/service_background_image.jpg");
    background-size: cover;
    width: 708px;
    height: 645px;
    position: relative;
    z-index: -1;
}

.service-form {
    display: flex;
    flex-direction: column;
    background-color: #131313;
    padding: 27px 49px;
    width: 506px;
    height: 509px;
}

.service-subtitle {
    font-family: 'Nunito Sans';
    width: 250px;
    margin: 0 0 39px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    align-self: center;
    color: #FFFFFF;
}

.service-form-field {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    height: 244px;
    justify-content: space-between;
}

.service-input-style {
    border: 0;
    margin-right: 49px;
    width: 408px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background: none;
}

.service-subtitle-form {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: capitalize;
}

.service-input-style::placeholder {
    color: #FFFFFF;
}

.service-form-agree {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.service-agree {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
}

.service-button{
    align-self:flex-end;
    margin-top: 15px;
}

.service-moneybox-style {
    display: flex;
    margin: 20px 0;
    flex-direction: row;
    align-items: center;
}

.service-moneybox-text {
    font-family: 'Nunito Sans';
    width: 230px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}





.footer {
    background-color: #181818;
}

.footer-content {
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}